.startsCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 30px 0;
    .activeProjects, .completedTask, .pendengs {
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 80px;
        border: 1px solid #dddddd;
        border-radius: 10px;
        p {
            font-size: 25px;
            color: #888888;
        }
        span {
            font-size: 35px;
            margin-top: 25px;
            font-weight: bold;
        }

    }
}